body {
    margin: 10px;
}

@media screen and (min-width: 980px) /* Desktop */ {
    html {
        /* background: red; */
        font-size: 1rem;
    }
}

@media screen  and (max-width: 979px) /* Tablet */ {
    html {
        /* background: blue; */
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 500px) /* Mobile */ {
    html {
        /* background: green; */
        font-size: 1.6rem;
    }
}