
.buttonAuth {
    composes: common from "./common.css";

    border-radius: 4px;
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 13px;
    cursor: pointer;
}